@import "tailwindcss";

:root {
  --background: #f7f2e6;
  --foreground: #263442;
  --primary: #f7f2e6;
  --primary-foreground: #263442;
  --secondary: #f2ecdb;
  --secondary-foreground: #42606b;
  --accent: #8f3535;
  --primary-hover: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-primary-hover: var(--primary-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #263442;
    --foreground: #f7f2e6;
    --primary: #263442;
    --primary-foreground: #f7f2e6;
    --secondary: #42606b;
    --secondary-foreground: #f2ecdb;
    --accent: #8f3535;
    --primary-hover: #d8caa9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
